

<form action="/dishes" method="post">

  <label for="">happy</label>
  <input type="checkbox" name="emotions[]" value="4">
  <label for="">sad</label>
  <input type="checkbox" name="emotions[]" value="5">

  <button>create</button>
</form>